* {
  padding: 0;
  margin: 0;
  border: 0;
}
polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: rgba(0,0,0,0.5);
}
.grid-parent {
  display: grid;
  grid-template-columns: 66% 33%;
  padding: 3em;
  background-color: rgb(165, 80, 49);
}
.menu-panel {
  grid-column-start: 2;
  background-color: blueviolet;
}
.viewport-container {
  grid-column-start: 1;
  justify-self: center;
  position: relative;
  margin: 2em;
  background-color: aqua;
  width: 320.33px;
  height: 407.33px;
}
.viewport {
  background-color: lightcoral;
  grid-column-start: 1;
  width: 320.33px;
  height: 407.33px;
}
.dot {
  border: solid 1px red;
  border-radius: 45px;
  width: 2px;
  height: 2px;
  position: absolute;
  display: block;
  background-color: red;
  z-index: 500;
}
.circle {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 45px;
  width: 5px;
  height: 5px;
  position: relative;
  display: block;
  background-color: rgba(255, 0, 0, 0.116);
  z-index: 500;
}
.line {
  transform-origin: 0 100%;
  position: absolute;
  height: 2px; /* Line width of 3 */
  background: rgb(255, 80, 80); /* Black fill */
  z-index: 500;
}